/* Aseguramos que el contenedor principal tome todo el alto del viewport */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima del viewport */
}

main {
  flex: 1; /* El contenido se expande para ocupar el espacio disponible */
  margin-bottom: 10px; /* Pequeño margen superior para el footer */
}
