/* Estilos generales para el contenedor del footer */

.footer-container {
  background-color: #423a3a; /* Fondo gris claro */
  color: #ffffff; /* Texto negro */
  padding: 20px;
  width: 100%;
  margin-top: auto;
  position: absolute;
}

/* Estilos para el contenido del footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; /* Permite que se ajusten los elementos en pantallas pequeñas */
}

/* Estilo para el texto del footer */
.footer-left {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

/* El logo centrado */
.footer-logo {
  height: 60px;
  width: auto;
  margin: 0 auto;
  display: block;
}


.footer-right a {
  color: #ffffff; /* Color del enlace "Contacto" */
  text-decoration: none;
  font-weight: bold;
  margin-left: 30px; /* Espacio entre "Contacto" y los íconos */
}

/* Estilos para los íconos sociales en la parte inferior derecha */
.social-icons {
  display: flex;
}

.social-icons a {
  font-size: 30px; /* Aumenta el tamaño de los íconos */
  color: #ffffff; /* Cambia los íconos a blanco */
  margin-left: 15px; /* Espaciado entre los íconos */
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.8); /* Aumenta el tamaño al pasar el mouse */
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    margin: 15px 0;
  }

  .social-icons {
    justify-content: center;
    bottom: 15px;
    right: 0;
    left: 0;
  }

  .social-icons a {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-right {
    margin-top: 15px;
  }
}