/* src/assets/styles/HomePage.css */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-color: white; /* Cambié el fondo a blanco */
}

/* Contenedor para el logo principal */
.logo-container {
  margin-bottom: 20px;
}

/* Imagen del logo principal */
.logo-image {
  width: 100%;          
  height: 120px;        
  object-fit: cover;    
}

/* Texto superior sin negrita y con margen ajustado */
.top-text {
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
  color: #333;
  max-width: 1400px; 
  font-family: Arial, sans-serif;
}

/* Imágenes de publicidad ajustadas */
.images-row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 20px;
}

.home-image {
  width: 30%; 
  height: auto;
  object-fit: cover;
}

/* Texto adicional */
.middle-section {
  width: 80%;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 30px 0;
  color: #333;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 23%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño cuando pasas el cursor */
}

.card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 10px;
  text-align: center;
}

.card-body h5 {
  margin-bottom: 10px;
  font-size: 16px;
}

.card-body p {
  font-size: 14px;
  color: #666;
}

.card .btn {
  margin: 5px;
  font-size: 14px;
  padding: 8px 12px;
}
